@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 20px;
}

.mapping {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mapping > * {
    margin-right: 10px;
}

.mapping > input {
    flex: 1;
}
